<div class="container-fluid">
	<div class="col-md-4"></div>
	
	<div class="col-md-4">
		
		<h4>Resend confirmation instructions</h4>
		
		
		<%= form_for(resource, as: resource_name, url: user_confirmation_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>
		
	  <div class="form-group">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true, class: 'form-control jv-float', placeholder: "Email" %>
	  </div>
		
    <%= f.submit "Resend confirmation instructions", class: "btn" , id: "form-submit-btn"%>
		
		<% end %>
		
	</div>
	
	<div class="col-md-4"></div>
</div>

