<%= form_for [current_user, @client_profile] do |f| %>
  <% if @client_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @client_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :street, class: 'sr-only' %>
    <%= f.text_field :street, :class => "form-control jv-float", placeholder: "Street", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :city, class: 'sr-only' %>
    <%= f.text_field :city, :class => "form-control jv-float", placeholder: "City", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :state, class: 'sr-only' %>
    <%= f.text_field :state, :class => "form-control jv-float", placeholder: "State", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :zip, class: 'sr-only' %>
    <%= f.text_field :zip, :class => "form-control jv-float", placeholder: "Zip", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, class: 'sr-only' %>
    <%= f.text_field :phone_number, :class => "form-control jv-float", placeholder: "Phone Number" %>
  </div>
	<!-- <button type="submit" class="btn btn-primary">Submit</button> -->
	<div class="actions">
	  <%= f.submit "Submit", class: "btn", id: "form-submit-btn" %>
	</div>
	
	
<% end %>