<h2>Client Dashboard</h2>

<h2>Profile Info</h2>

<%= current_user.client_profile.inspect %>
<%= link_to "Edit your profile", edit_user_client_profile_path(current_user.id, current_user.client_profile.id)%>


	<h2>Gyms you are registered to</h2>
	<table class="table">
		<tr>
			<th>Gym Name</th>
			<th>Street</th>
			<th>State</th>
			<th>Description</th>
		</tr>
		<% @gyms.each do |gym| %>
		<tr>
			<td><%= link_to gym.name, gym_path(gym.id), :class => 'navbar-link' %></td>
			<td><%= gym.street %></td>
			<td><%= gym.state %></td>
			<td><%= gym.description %></td>
		</tr>
	<% end %>
	</table>
	
	<%= link_to "Update gym registrations", edit_registrations_user_path(current_user.id) %>