<h2>Client Dashboard</h2>

<h2>Profile Info</h2>

<%= current_user.client_profile.inspect %>


	<h2>Gyms you are subscribed to</h2>
	<table class="table">
		<tr>
			<th>Gym Name</th>
			<th>Street</th>
			<th>State</th>
			<th>Description</th>
		</tr>
		<% @gyms.each do |gym| %>
		<tr>
			<td><%= link_to gym.name, gym_path(gym.id), :class => 'navbar-link' %></td>
			<td><%= gym.street %></td>
			<td><%= gym.state %></td>
			<td><%= gym.description %></td>
		</tr>
	<% end %>
	</table>
	
	<%= link_to "Update gym registrations", gyms_path %>