<%= stylesheet_link_tag 'dashboards/dashboard-files', 'data-turbolinks-track' => true %>

<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">

	<!-- BEGIN PAGE CONTENT -->
	<div class="page-content">
		<div class="container">
			
			<!-- BEGIN PAGE CONTENT INNER -->
			<div class="row margin-top-10">
				<div id="left-col" class="col-md-6 col-sm-12">
					<!-- BEGIN PORTLET-->
					<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption caption-md">
								<i class="icon-bar-chart theme-font hide"></i>
								<span class="caption-subject theme-font bold uppercase">Your Account</span>
							</div>
							<div class="text-right">
								<%= link_to "Edit", edit_user_gym_path(current_user.id, current_user.managed_gym), :class => "btn btn-default btn-sm" %>
							</div>
						</div>
						<div class="portlet-body">
							<h3><%= @gym.name %></h3>
							
							<p><%= @gym.phone_number %></p>
							<p><%= @gym.email %></p>
							<p><%= @gym.street %></p>
							<p><%= @gym.city %>, <%= @gym.state %> <%= @gym.zip %></p>
							<p>Two subscription passes: <%= @gym.two_gym_passes %></p>
							<p>Three subscription passes: <%= @gym.three_gym_passes %></p>
							<p>Four subscription passes: <%= @gym.four_gym_passes %></p>
							<p>Description: <%= @gym.description %></p>
							<p>Url: <%= @gym.link %></p>
							<p>Classes: <%= @gym.classes %></p>
							<p>Reservation Policy: <%= @gym.reservation_policy %></p>
						</div>
					</div>
					<!-- END PORTLET-->
				</div>
				<div id="right-col gym-clients" class="col-md-6 col-sm-12">
					<!-- BEGIN PORTLET-->
					<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption caption-md">
								<i class="icon-bar-chart theme-font hide"></i>
								<span class="caption-subject theme-font bold uppercase">Members</span>
							</div>
						</div>
						<div id="client-content" class="portlet-body">
							
							<div class="table-scrollable table-scrollable-borderless">
								<% if @users.empty? %>
									<h4>No members yet.</h4>
								<% else %>
									<table class="table table-hover table-light">
									<thead>
									<tr class="uppercase">
										<th colspan="2">
											 Name
										</th>
										<th>
											Sessions Left
										</th>
										<th>
											 Total:  <%= @users.size %>
										</th>
									</tr>
									</thead>
									<tbody>
									<% @users.each do |user| %>
										<tr>
											<td colspan="2">
												<%= user.first_name %> <%= user.last_name %>
											</td>
											<td>
												<%= user.subscriptions.find_by(gym_id: @gym.id).sessions_left %>
											</td>
											<td>
												<% if user.subscriptions.find_by(gym_id: @gym.id).sessions_left > 0 %>
										 			<%= link_to 'Check In', check_in_client_gym_path(@gym.id, user.id), :class => "btn btn-default btn-sm"%>
												<% end %>
											</td>
										</tr>
									</tbody>
									<% end %>
									</table>
								<% end %>
							</div>
						</div>
					</div>
					<!-- END PORTLET-->
				</div>
			</div>
			<!-- END PAGE CONTENT INNER -->
		</div>
	</div>
	<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<%= javascript_include_tag 'dashboards/dashboard-files', 'data-turbolinks-track' => true %>

<script>
$("#right-col").height($("#left-col").height());

jQuery(document).ready(function() {    
	Metronic.init(); // init metronic core componets
	Layout.init(); // init layout
});
</script>