<%= stylesheet_link_tag 'dashboards/dashboard-files', 'data-turbolinks-track' => true %>

<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">

	<!-- BEGIN PAGE CONTENT -->
	<div class="page-content">
		<div class="container">
			
			<!-- BEGIN PAGE CONTENT INNER -->
			<div class="row margin-top-10">
				<div id="left-col" class="col-md-6 col-sm-12">
					<!-- BEGIN PORTLET-->
					<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption caption-md">
								<i class="icon-bar-chart theme-font hide"></i>
								<span class="caption-subject theme-font bold uppercase">Your Account</span>
							</div>
							<div class="text-right">
								<%= link_to "Edit", edit_user_client_profile_path(current_user.id, current_user.client_profile), :class => "btn btn-default btn-sm" %>
							</div>
						</div>
						<div class="portlet-body">
							<h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
							<p><%= current_user.client_profile.street %></p>
							<p><%= current_user.client_profile.state %>, <%= current_user.client_profile.zip %></p>
							<p><%= current_user.client_profile.phone_number %></p>
							<p>Number of sessions: <%= current_user.client_profile.number_of_sessions %></p>
							<!--phone, address -->
						</div>
					</div>
					<!-- END PORTLET-->
				</div>
				<div id="right-col" class="col-md-6 col-sm-12">
					<!-- BEGIN PORTLET-->
					<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption caption-md">
								<i class="icon-bar-chart theme-font hide"></i>
								<span class="caption-subject theme-font bold uppercase">Gym Subscriptions</span>							
							</div>
							<% if current_user.active_and_subscribed? %>
								<div class="text-right">
									<%= link_to "Edit", edit_subscriptions_user_path(current_user.id), :class => "btn btn-default btn-sm" %>
								</div>
							<% end %>
						</div>
						<div class="portlet-body">
							<% if current_user.active_and_subscribed? %>
								<div class="table-scrollable table-scrollable-borderless">
									<table class="table table-hover table-light">
										<thead>
											<tr class="uppercase">
												<th colspan="2">
													Gym
												</th>
												<th>
													Street
												</th>
												<th>
													Sessions Left
												</th>
											</tr>
										</thead>
										<% @subscriptions.each do |subscription| %>
										<tr>
											<td class="fit">
											</td>
											<td>
												<span class="bold theme-font"><%= subscription.gym.name %></span>
											</td>
											<td>
												<%= subscription.gym.street %>
											</td>
											<td>
												<%= subscription.sessions_left %>
											</td>
										</tr>
										<% end %>
									</table>
								</div>
							<% elsif current_user.active? %>
								<h3>No Current Subscriptions.</h3>
								<%= link_to "Subscribe Now", edit_subscriptions_user_path(current_user.id), :class => "btn btn-default btn-sm" %>
							<% else %>
								<h3>Ready to sign up?</h3>
								<h4>Pay your membership to get started!</h4>
								<%= link_to 'Pay now!', new_user_charge_path(current_user.id), :class => "btn btn-default btn-md" %>
							<% end %>
						</div>
					</div>
					<!-- END PORTLET-->
				</div>
			</div>
			<!-- END PAGE CONTENT INNER -->
		</div>
	</div>
	<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<%= javascript_include_tag 'dashboards/dashboard-files', 'data-turbolinks-track' => true %>

<script>
$("#right-col").height($("#left-col").height());

jQuery(document).ready(function() {    
	Metronic.init(); // init metronic core componets
	Layout.init(); // init layout
});
</script>