<%= stylesheet_link_tag 'dashboards/dashboard-files', 'data-turbolinks-track' => true %>

<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">

	<!-- BEGIN PAGE CONTENT -->
	<div class="page-content">
		<div class="container">
			
			<!-- BEGIN PAGE CONTENT INNER -->
			<div class="row margin-top-10">
				<div id="left-col" class="col-md-6 col-sm-12">
					<!-- BEGIN PORTLET-->
					<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption caption-md">
								<i class="icon-bar-chart theme-font hide"></i>
								<span class="caption-subject theme-font bold uppercase">Analytics and Tools</span>
							</div>
						</div>
						<div class="portlet-body">
							<p>Total Unafit Gyms: <%= @gyms.count %></p>
							<p>Total Unafit Users: <%= @num_users %></p>
							<%= link_to 'New Gym', new_gym_path, :class => "btn btn-default btn-sm" %>
							<%= link_to 'Invite Admin', new_admin_path, :class => "btn btn-default btn-sm"%></br >
							<h3>We can add more stuff here.</h3>
						</div>
					</div>
					<!-- END PORTLET-->
				</div>
				<div id="right-col gym-clients" class="col-md-6 col-sm-12">
					<!-- BEGIN PORTLET-->
					<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption caption-md">
								<i class="icon-bar-chart theme-font hide"></i>
								<span class="caption-subject theme-font bold uppercase">Unafit Gyms</span>
							</div>
						</div>
						<div id="client-content" class="portlet-body">
							
							<div class="table-scrollable table-scrollable-borderless">
								<% if @gyms.empty? %>
									<h4>No gyms yet.</h4>
								<% else %>
									<table class="table table-hover table-light">
									<thead>
									<tr class="uppercase">
										<th colspan="2">
											Name
										</th>
										<th>
											State
										</th>
										<th>
											Manager
										</th>
										<th>
											Actions
										</th>
									</tr>
									</thead>
									<tbody>
									<% @gyms.each do |gym| %>
										<tr>
											<td colspan="2">
												<%= link_to gym.name, gym_path(gym.id), :class => 'navbar-link' %>
											</td>
											<td>
												<%= gym.state %>
											</td>
											<td>
												<% if gym.user_id.nil? %>
													No manager! <%= link_to "Add one", new_manager_path(gym_id: gym.id) %>
												<% elsif gym.manager.invitation_accepted_at.nil? %>
													Manager not registered yet. 
												<% else %>
													<%= gym.manager.first_name %>
												<% end %>
											</td>
											<td>
												<%= link_to 'Edit', edit_gym_path(gym), :class => 'btn btn-default btn-xs'%>
												<%= link_to 'Add Pictures', new_gym_picture_path(gym.id), :class => 'btn btn-default btn-xs'%>
											</td>
										</tr>
									</tbody>
									<% end %>
									</table>
								<% end %>
							</div>
						</div>
					</div>
					<!-- END PORTLET-->
				</div>
			</div>
			<!-- END PAGE CONTENT INNER -->
		</div>
	</div>
	<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<%= javascript_include_tag 'dashboards/dashboard-files', 'data-turbolinks-track' => true %>

<script>
$("#right-col").height($("#left-col").height());

jQuery(document).ready(function() {    
	Metronic.init(); // init metronic core componets
	Layout.init(); // init layout
});
</script>
