<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Unafit</title>
	<meta name="description" content="Unafit unafit">
	<meta name="keywords" content="Unafit unafit">
	<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag 'homepage-files.css' %>
    
	<!--[if lt IE 9]>
		<script src="assets/js/html5.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body id="landing-page">

		<!-- Preloader -->
		<div id="mask">
			<div id="loader"></div>
		</div>
        
		<header>
			<nav class="navigation navigation-header" style="position:absolute !important;">
				<div class="container">
					<div class="navigation-brand">
						<div class="brand-logo">
							<a href="/" class="logo"></a>
							<span class="sr-only">unafit</span>
						</div>
					</div>
					<div class="navigation-navbar">
						<ul class="jquery-nav navigation-bar navigation-bar-left white-links">
							<li class="active"><a href="#hero">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#features">Features</a></li>
							<li><a href="#footer">Contacts</a></li>
						</ul>
						<ul class="navigation-bar navigation-bar-right white-links">
							<%= render 'layouts/nav_links' %>
						</ul>
					</div>
				</div>
			</nav>
		</header>
    
		<div id="hero" class="static-header light clearfix">
			<div class="text-heading">
				<h1 class="animated hiding" data-animation="bounceInDown" data-delay="0">Start getting <span class="highlight">fit</span> today!</h1>
				<p class="animated hiding" data-animation="fadeInDown" data-delay="500">Combine all your favorite fitness studios into a single membership</p>
				<ul class="list-inline">
					<li><%= link_to "Get Started", new_user_registration_path, class: 'btn btn-primary animated hiding', data: {animation: 'bounceIn', delay: 700 }  %></li>
					<li><a href="#about" class="btn btn-default animated hiding" data-animation="bounceIn" data-delay="900">Take tour</a></li>
				</ul>
			</div>
		</div>
    
		<hr class="no-margin" />
		<a id="showHere"></a>
    
		<section id="about" class="section dark">
			<div class="container">
				<div class="section-content row">   
					<div class="col-sm-6 animated hiding" data-animation="fadeInLeft">
						<img src="assets/helmet.jpg" class="img-responsive" alt="process 3" />
					</div>
					<div class="col-sm-6 animated hiding" data-animation="fadeInRight">
						<br/><br/>
						<article>
							<h3><span class="highlight">GYMS</span> ARE EXPENSIVE</h3>
							<div class="sub-title">Memberships often lock you into multiple year <br/> contracts for less than premium prices </div>
							<p>Gym memberships are notorious for their high rates and strict policies. Two or three year contracts, combined with rates that can be up to hundreds of dollars a month make it impossible to find an economically viable way to stay in shape. With Unafit, you get to choose the membership that best fits your lifestyle. So whether you are a fun and casual social gymgoer, or a hard core fitness guru, we have a plan for you.</p>
						</article>
					</div>   
								
					<hr class="clearfix" />
								      
					<div class="col-sm-6 pull-right animated hiding" data-animation="fadeInRight">
						<img src="assets/content_image1.png" class="img-responsive" alt="process 2" />
					</div>
					<div class="col-sm-6 animated hiding" data-animation="fadeInLeft">
						<br/><br/>
						<article>
							<h3><span class="highlight">VARIETY</span> IS THE SPICE OF LIFE</h3>
							<div class="sub-title">In today's world, there are an incredible number of ways to get active and stay healthy</div>
							<p>Boutique gyms from yoga studios to crossfit gyms are popping up all over the nation. These premium gyms each demand premium prices, but with Unafit you can try them all. Get hooked up with our exclusive gym partners in your city to bike, stretch, dance or box (and more!) to your heart's content.</p>
						</article>
					</div>
                
					<hr class="clearfix" />
                
					<div class="col-sm-6 animated hiding" data-animation="fadeInLeft">
						<img src="assets/helmet.jpg" class="img-responsive" alt="process 3" />
					</div>
					<div class="col-sm-6 animated hiding" data-animation="fadeInRight">
						<br/><br/>
						<article>
							<h3>TAKE A <span class="highlight">JUMP</span> IN</h3>
							<div class="sub-title">Within minutes, you can be on your way to getting fit.</div>
							<p>With less work than it takes to walk a cat, you can become an Unafit member and have access to a plethora of gyms near you. Just sign up, choose the Unafit plan to fit your needs, and have fully fledged access to any of our exclusive partners. Why pay three premium memberships when you can pay just one low cost for the same benefits?</p>
						</article>
					</div>
                
				</div>
			</div>
		</section>
    
		<section id="features" class="section inverted">
			<div class="container">
				<div class="section-content">
					<div id="featuredTab">
						<ul class="list-unstyled animated hiding" data-animation="fadeInRight">
							<li class="active">
								<a href="#home" data-toggle="tab">
									<div class="tab-info">
										<div class="tab-title">BROWSE</div>
										<div class="tab-desc">Gyms in your area that are<br /> exclusively partnered with Unafit</div>
									</div>
									<!--<div class="tab-icon"><span class="icon icon-multimedia-20"></span></div>-->
								</a>
							</li>
							<li>
								<a href="#profile" data-toggle="tab">
									<div class="tab-info">
										<div class="tab-title">PICK</div>
										<div class="tab-desc">Each month, choose gyms that you<br /> want to explore or already love</div>
									</div>
									<!--<div class="tab-icon"><span class="icon icon-seo-icons-27"></span></div>-->
								</a>
							</li>
							<li>
								<a href="#messages" data-toggle="tab">
									<div class="tab-info">
										<div class="tab-title">ROCK IT</div>
										<div class="tab-desc">Enjoy full access to our <br />partners and get fit!</div>
									</div>
									<!-- <div class="tab-icon"><span class="icon icon-seo-icons-28"></span></div>-->
								</a>
							</li>
						</ul>
                    
						<div class="tab-content animated hiding" data-animation="fadeInLeft">
							<div class="tab-pane in active" id="home"><img src="assets/rich_features_1.png" class="img-responsive animated hiding" data-animation="fadeInLeft" alt="macbook" /></div>
							<div class="tab-pane" id="profile"><img src="assets/rich_features_2.png" class="img-responsive animated hiding" data-animation="fadeInLeft" alt="macbook" /></div>
							<div class="tab-pane" id="messages"><img src="assets/rich_features_3.png" class="img-responsive animated hiding" data-animation="fadeInLeft" alt="macbook" /></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	
		<section id="signup" class="long-block light">
			<div class="container">
				<div class="col-md-12 col-lg-9">
					<i class="icon icon-seo-icons-24 pull-left"></i>
					<article class="pull-left">
						<h2>Sign up today!</h2>
						<p class="thin">In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret.</p>
					</article>
				</div>
		
				<div class="col-md-12 col-lg-3">
					<%= link_to "Sign up", new_user_registration_path, class: "btn btn-default" %>
				</div>
			</div>
		</section>
    
		<%= render 'layouts/footer' %>
    
		<div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div>
   

	</body>
	</html>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'homepage-files' %>
