<%= form_for [@gym, @picture] do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
		<%= f.label :image, class: "sr-only" %>
		<%= f.file_field :image %>
	</div>
  <div class="form-group">
    <%= f.label :caption, class: 'sr-only' %>
    <%= f.text_field :caption, class: "form-control jv-float", placeholder: "Caption" %>
  </div>
		
  <div class="actions text-center devise-link">
	  <%= f.submit "Submit", class: "btn", id: "form-submit-btn" %>
  </div>
	
<% end %>
