<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= @picture.file_name %>
</p>

<p>
  <strong>Gym:</strong>
  <%= @picture.gym %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
