<%= form_for(@gym) do |f| %>
  <% if @gym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gym.errors.count, "error") %> prohibited this gym from being saved:</h2>

      <ul>
      <% @gym.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'sr-only' %>
    <%= f.text_field :name, class: "form-control jv-float", placeholder: "Name*", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :email, class: 'sr-only' %>
    <%= f.text_field :email, class: "form-control jv-float", placeholder: "Email*", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, class: 'sr-only' %>
    <%= f.text_field :phone_number, class: "form-control jv-float", placeholder: "Phone Number*", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :street, class: 'sr-only' %>
    <%= f.text_field :street, class: "form-control jv-float", placeholder: "Street*", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :city, class: 'sr-only' %>
    <%= f.text_field :city, class: "form-control jv-float", placeholder: "City*", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :state, class: 'sr-only' %>
    <%= f.text_field :state, class: "form-control jv-float", placeholder: "State*", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :zip, class: 'sr-only' %>
    <%= f.text_field :zip, class: "form-control jv-float", placeholder: "Zip*", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :two_gym_passes, class: 'sr-only' %>
    <%= f.number_field :two_gym_passes, class: "form-control jv-float", placeholder: "Two Gym Passes*", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :three_gym_passes, class: 'sr-only' %>
    <%= f.number_field :three_gym_passes, class: "form-control jv-float", placeholder: "Three Gym Passes*", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :four_gym_passes, class: 'sr-only' %>
    <%= f.number_field :four_gym_passes, class: "form-control jv-float", placeholder: "Four Gym Passes*", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
		<%= f.select :status, options_for_select(["Inactive", "Active", "Coming Soon"], @gym.status), required: true %>
		
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'sr-only' %>
    <%= f.text_area :description, class: "form-control jv-float", placeholder: "Description*", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :link, class: 'sr-only' %>
    <%= f.text_field :link, class: "form-control jv-float", placeholder: "URL" %>
  </div>
  <div class="form-group">
    <%= f.check_box :showers %>
    <%= f.label :showers %>
  </div>
  <div class="form-group">
    <%= f.label :classes, class: 'sr-only' %>
    <%= f.text_area :classes, class: "form-control jv-float", placeholder: "Classes" %>
  </div>
  <div class="form-group">
    <%= f.label :reservation_policy, class: 'sr-only' %>
    <%= f.text_area :reservation_policy, class: "form-control jv-float", placeholder: "Reservation Policy" %>
  </div>

  <div class="actions text-center devise-link">
	  <%= f.submit "Submit", class: "btn", id: "form-submit-btn" %>
  </div>
	
<% end %>
