<h2>All Unafit Gyms</h2>
<table class="table">
	<tr>
		<th>Gym Name</th>
		<th>Street</th>
		<th>State</th>
		<th>Description</th>
	</tr>
	<% @gyms.each do |gym| %>
	<tr>
		<td><%= link_to gym.name, gym_path(gym.id), :class => 'navbar-link' %></td>
		<td><%= gym.street %></td>
		<td><%= gym.city %></td>
		<td><%= gym.state %></td>
		<td><%= gym.email %></td>
		<td><%= gym.phone_number %></td>
		<td><%= gym.description %></td>
	</tr>
<% end %>
</table>