<div class="container-fluid">
	
	<!-- Row for gym name -->
	<div class="row">
		<div class="col-md-4">
			<h4><%= @gym.name %></h4>
			<p><%= @gym.email %></p>
			<p><%= @gym.phone_number %></p>
			
			<% if user_signed_in? && current_user.admin? %>
				<%= link_to 'Edit', edit_gym_path(@gym), :class => 'btn btn-primary btn-xs'%> |
				<% end %>
			<% if user_signed_in? %>
				<%= link_to 'Home', user_path(current_user.id), :class => 'btn btn-primary btn-xs' %>
			<% end %>

			<%= render 'layouts/back_btn' %>
			
		</div>
		<div class="col-md-4">
			<%= image_tag @gym.pictures.first.image.url %>
		</div>
		<div class="col-md-4">
			<div id="map"></div>
		</div>
	</div>
	
	
</div>

<%= render 'show_gym_map'%>