<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h4><%= @gym.name %></h4>
			<ul>
				<li>Email: <%= @gym.email %></li>
				<li>Phone: <%= @gym.phone_number %></li>
				<li>Address: <%= "#{@gym.street}, #{@gym.city}, #{@gym.state} #{@gym.zip}" %></li>
				<li>Two subscription passes: <%= @gym.two_gym_passes %></li>
				<li>Three subscription passes: <%= @gym.three_gym_passes %></li>
				<li>Four subscription passes: <%= @gym.four_gym_passes %></li>
				<li>Description: <%= @gym.description %></li>
				<li>Url: <%= @gym.link %></li>
				<li>Classes: <%= @gym.classes %></li>
				<li>Reservation Policy: <%= @gym.reservation_policy %></li>
			</ul>
			
			<% if user_signed_in? && current_user.admin? %>
				<%= link_to 'Edit', edit_gym_path(@gym), :class => 'btn btn-primary btn-xs'%> |
				<% end %>
			<% if user_signed_in? %>
				<%= link_to 'Home', user_path(current_user.id), :class => 'btn btn-primary btn-xs' %>
			<% end %>
			<%= link_to 'Back', :back, :class => 'btn btn-primary btn-xs' %>
		</div>
		
		<div class="col-md-8">
			<div style='width: 800px;'>
			  <div id="sidebar-builder" style='width: 800px; height: 400px;'>
					<%= render 'show_gym_map'%>
			  </div>
			</div>
		</div>
	</div>
</div>


