<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">

			<h2>Invite An Administrator</h2>

			<%= form_for resource, as: resource_name, url: new_admin_path, html: { method: :post } do |f| %>
			  <%= devise_error_messages! %>

			<% resource.class.invite_key_fields.each do |field| -%>
			<div class="form-group">
				<%= f.label field, class: 'sr-only' %><br />
			  <%= f.text_field field, class: "form-control", placeholder: "Email" %>
			</div>
			<% end -%>

			<div class="text-center devise-link">
				<%= f.submit "Invite", class: "btn", id: "form-submit-btn" %>
			</div>
			<% end %>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>