<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">

			<h2>Invite A Manager</h2>

			<%= form_for resource, as: resource_name, url: new_manager_path(params[:id]), html: {method: :post} do |f| %>
			  <%= devise_error_messages! %>

			<% resource.class.invite_key_fields.each do |field| -%>
			<div class="form-group">
			  <%= f.label field, class: 'sr-only' %><br />
			  <%= f.text_field field, class: "form-control", placeholder: "Email" %>
			</div>
			<% end -%>

				<%= f.hidden_field :gym_id, value: @gym.id %>


			<%= f.submit "Invite", class: "btn btn-primary" %>
			<% end %>

		</div>
		<div class="col-md-2"></div>
	</div>
</div>