</br></br></br></br><strong><p>For development purposes only</p></strong>
<%= debug(params) if Rails.env.development? %>
<!-- LOCATION: <%= @location %>
Lat: <%= @location.latitude %>
Long: <%= @location.longitude %> -->
<% if user_signed_in? %>
	Signed in as: <%=current_user.role %>
	Your account is: 
	<% if current_user.active? %>
		ACTIVE
	<% else %>
		INACTIVE
	<% end %>
<% end %>