<!-- LOGGED IN -->
<% if user_signed_in? %>
	<% if current_user.admin? %>
		<!-- Admin -->
		<li><%= link_to "DASHBOARD", user_path(current_user) %></li>
		<li><%= link_to "BROWSE GYMS", gyms_path %></li>
	<% elsif current_user.manager? %>
		<!-- Manager -->
  	<li><%= link_to current_user.gym.name.upcase, user_path(current_user.id) %></li>
	<% else %>
		<!-- User -->
		<li><%= link_to "DASHBOARD", user_path(current_user) %></li>
		<li><%= link_to "BROWSE GYMS", gyms_path %></li>
	<% end %>
  <li><%= link_to 'ACCOUNT', edit_user_registration_path %></li>
	<li><%= link_to 'SIGN OUT', destroy_user_session_path, :method => :delete %></li>
<% else %>
	<!--NOT LOGGED IN -->
	<li><%= link_to "BROWSE GYMS", gyms_path %></li>
	<li><%= link_to "LOGIN", new_user_session_path %></li>
	<li><%= link_to "SIGN UP", new_user_registration_path, class: "featured" %></li>
<% end %>
