<!DOCTYPE html>
<html>

<head>

	<%= stylesheet_link_tag 'gyms-files' %>

</head>

<body>

<%= render 'layouts/header' %>

<%= yield %>

<%= render 'layouts/footer' %>

<%= javascript_include_tag 'gyms-files' %>

</body>

</html>

